{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "sinon": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "no-unused-expressions": 0,
    "mocha/no-exclusive-tests": 2
  }
}
