{
  "presets": ["jason"],
  "plugins": [
    ["transform-react-remove-prop-types", { "mode": "wrap" }],
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
  "env": {
    "esm": {
      "presets": [
        ["jason", { "modules": false }]
      ],
      "plugins": [
        ["babel-plugin-transform-rename-import", {
          "replacements": [{ "original": "lodash", "replacement": "lodash-es" }]
        }]
      ]
    }
  }
}
