{
  "presets": ["jason"],
  "plugins": [
    ["transform-react-remove-prop-types", { "mode": "wrap" }]
  ],
  "env": {
    "esm": {
      "presets": [
        ["jason", { "modules": false }]
      ]
    }
  }
}
