parser: babel-eslint
extends:
  - jason/react
  - prettier

rules:
  global-require: off
  no-unused-vars: [2, {
    vars: all,
    args: after-used,
    varsIgnorePattern: ^_,
    argsIgnorePattern: ^_,
  }]
