registry=https://nexus.dev.appf.io/repository/npm/
//nexus.dev.appf.io/repository/npm/:_auth=${NPM_TOKEN}
@appfolio:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_NPM_TOKEN}
sass_binary_site=https://nexus.dev.appf.io/repository/node-sass-bindings
always-auth=true