.rbc-mv-header {
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;

  .rbc-header-gutter {
    border-right: 1px solid #DDD;
  }
}

.rbc-mv-header-content {
  flex: 1 0 0%;
  min-height: 20px;
  overflow: hidden;
  white-space: nowrap;

  .rbc-mv-header-content-scroller {
    width: 100%;

    .rbc-header:first-child {
      border-left: 0;
    }
  }

  .rbc-header {
    border-left: 1px solid #DDD;
    display: inline-block;
  }
}

.rbc-mv-scroll-header {
  border-left: 1px solid #DDD;
  flex: none;
}

.rbc-mv-body {
  display: flex;
  border-top: 2px solid #DDD;
  min-height: 0;
}

.rbc-mv-left-scroller {
  flex: 1 1 0%;
  overflow: hidden;
}

.rbc-mv-time-column {
  border-right: 1px solid #DDD;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rbc-mv-scroll-footer {
  flex: none;
}

.rbc-mv-time-content {
  border-top: 0;
  display: block;
  overflow: scroll;
  white-space: nowrap;

  .rbc-day-slot {
    display: inline-block;

    &:nth-child(2) .rbc-timeslot-group {
      border-left: 0;
    }
  }

  .rbc-timeslot-group:last-child {
    border-bottom: 0;
  }
}
